/* comentario en css */ 

/* Guía para css

    1. Verificar la vinculación del css en html 
    
    ej: body{
        background-color: aqua;
        }

    2. Tener un orden definido

    css -> hoja de estilos en cascada -> Cascading Style Sheets
*/

/* lo primero son las importaciones */

@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

/* Establecer las variables de css

    1.Paleta de colores
    2.Tipografías (Max 3)
    3.Medidas que se repitan constantemente

*/

/*  
    Selectores
        - Etiquetas : General
        - Clases: Un poco mas especificas(varios elementos pueden tener la misma clase) -> .
        - ID: Sumamente especificos ( cada elemento puede tener uno solo) -> #

    Pseudoclases -> elementos propios de css que referencias a htm con caracteristicas particulares

    :"texto" -> pseudoelementos

    pseudoelementos -> ::"texto"
*/

/* pseudoclase que me hace referencia a todo mi html -> root (código raíz) */

:root{
    /* con -- se definen variables */
    --tipografía: "Poetsen One", sans-serif;
    --colorFondo:#E2DED7;
    --colorClaro:#108BB2;
    --colorTexto:#063A4C;
    --colorContraste:#EE466F;
}

/* condiciones iniciales */

/* Los estilos que quiero en mi sitio web */

/* *-> selector universal -> aplica estilo a todos los elementos */

*{
    /* margin -margen externo */
    margin: 0;
 
    /* padding -> margen interno */
    padding: 0;
}

body{

    /* ancho de la pantalla */
    width: 100%;

    /*  */
    /* background-color -> color de fondo */
    background-color: var(--colorFondo);
 
    /* tipografía */
    font-family: var(--tipografía);
 
    /* color de letra */
    color: var(--colorTexto);
 
    /* quitar scroll horizontal 
        overflow-> si sobresale el contenido
        hidden -> esconder
    */
    overflow-x: hidden;
 
    /* Ajuste de dimensiones */
    box-sizing: border-box;
}


/* -----------Header------------ */

/* contenedor mayor (padre), todo lo que esta contenido en el header son partes (hijos) */

/* contenedor padre -> determinar dimensiones */

header{
   
    
    /* width -> ancho
        height -> alto 
        vw -> ancho de pantalla
        vh -> alto de pantalla
    */
    width: 100vw;
    height: 100vw;
}

.menuNav {
    background-color: var(--colorClaro);
    width: 100%;
    height: 100px;
}

.listaMenu {
    height: 100%;
    

    /* disposicion flexible -> elementos uno al lado del otro */
    display: flex;

    /* centrar */
    /* centrar en x */
    justify-content: center;
    
    /* centrar en y */
    align-items: center;
    
    /* separaciones entre elementos hijos */
    gap: 50px;

    /* quitar viñetas de lista */
    list-style: none;

    /*  */
}

.listaMenu a{
    /* quitar decoración de texto */
    text-decoration: none;

    /* color de letra */
    color: var(--colorTexto);

    /* tamaño de texto */
    font-size: 18px;

    /* grosor de letra */
    font-weight: bold;
}

.listaMenu a:hover{
    color: white;
}

.logo{
    width: 50px;
    height: 50px;
}

/* banner */

.banner{
    
    height: 85%;
    width: 100%;
}

.banner img{
    width: 100%;
    height: 100%;
}
/* -----------Main-------------- */

.main{
    border: 5px solid red;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* dispongan una debajo de otra */
    flex-direction: column;
}

/* seccion 1 */

.Seccion1{
    border: 5px solid blue;
    width: 80%;
}

.divVideo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.divVideo iframe{
    width: 50%;
}

.divVideo p{
    width: 50%;
}

.Seccion2{
    border: 5px solid green;
    width: 80%;
}

.contenedorImg{
    
    /* organizar en filas y columnas */
    display: grid;
    /* filas */
    grid-template-rows: 1fr 1fr;
    /* columnas */
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.contenedorImg img{
    width: 100%;
}

.Titulo{
    /* centrar texto */
    text-align: center;
    /* textos en mayuscula */
    text-transform: uppercase;
    /* margen */
    margin: 20px 0px;
}


/* -----------footer------------ */